.darkModeSwitch {
	background: #3494b1;
	display: flex;
	height: 25px;
	margin-top: 4px;
	cursor: pointer;
	outline: none;
	border: 0;
	border-radius: 1rem;
	align-items: center;
	justify-content: space-between;
	position:relative;
}

.darkModeSwitch span {
	width: 25px;
	height: 25px;
	line-height: 25px;
	display: block;
	background: none;
	color: white;
}

.darkModeSwitch::after {
	display: block;
	background: white;
	width: 1.3rem;
	height: 1.3rem;
	position: absolute;
	right: unset;
	border-radius: 3rem;
	transition: all .5s ease;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, .5);
	content: "";
}

.darkModeSwitch.active::after {
	left: unset;
	right: 0;
}

.dark {
	background-color: #2e2e2e;
	color: white;
}

body.dark ::placeholder {
	color: white;
}

.dark h1, .dark p, .dark #login a, .dark #contenido-curso a, .dark #logoCurso,
	.dark #notificacion, .dark #carrito, .dark #resumen, .dark #pagarTarjeta, 
	.dark #busqueda, body.dark #titulo a, body.dark #marcarUnidad a,
	.dark #texto-puntos, .dark .dropdown-content a{
	color: white;
}

#cont-header, #cont-contacto, #contMiGiftcard-2, #contenedor2 {
	background-color: transparent;
}

body.dark .giftcardNum {
	color: black;
}

body.dark #barra_busqueda input {
	background-color: #2e2e2e;
	border: 1px solid #87857d;
	color: white;
}

body.dark nav {
	background-color: #424242;
	color: white;
}

body.dark nav a:hover {
	background-color: rgb(100 100 100);
}

body.dark .separador {
	background-color: #a4a4a4;
}

body.dark .darkModeSwitch {
	background-color: #7a7a7a;
}

.dark input[type="text"], .dark input[type="email"], .dark input[type="password"], .dark textarea {
	border: 2px solid #5a5a5a;
	background-color: #2e2e2e;
	color: white;
}

.dark #contenidoMenuUsuario, .dark #contenido-menu-notificaciones {
	background-color: #2e2e2e;
	color: white;
	border: 1px solid #4e4d4c;
}

.dark .contenido-menu h3, .dark .mensajes, .dark .mensajesNoLeidos, .dark .fotoNombreUsuario {
	color: white;
	border-bottom: 1px solid #4e4d4c;
}
.dark #contenidoMenuUsuario a:hover, .dark #contenido-menu-notificaciones  a:hover,
.dark .dropdown-content a:hover {
	background-color: #525252;
}

.dark .curso-calificado, .dark .cat-index, .dark .cuadro-seccion-cursos, .dark .cuadro-tarjeta {
	border: 2px solid #5a5a5a;
}

.dark .dropdown-content {
	background-color: #2e2e2e;
	border: 1px solid #4e4d4c;
}

.dark .contenidoCurso  p {
	background-color: #737373;
	border-bottom: 2px solid #5a5a5a;
}

.dark .contenedor2, .dark .contenedor2 #resumen, .dark .contenedor2 #pt {
	color: #3c3b37;
}

.dark .contenedor2 ::placeholder {
	color: #94928b;
}

.dark .curso-cursado, .dark .imputFile {
	border: 1px solid #5a5a5a;
	color: white;
}

.dark .mensajes i, .dark .mensajesNoLeidos i {
	color: white;
}

.dark .regalarPuntos {
	background-color: #424242;
}

.dark .regalarPuntos #email, .dark .regalarPuntos #puntos {
	background-color: #424242;
	border: 2px solid #868686;
	color: white;
}
