.contenedor {
	width: 60%;
    margin: auto;
    margin-top: 120px;
    margin-bottom: 120px;
}

.cont1 {
	display: flex;
}

.infoCurso {
	margin-left: 45px;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#nombreCurso {
	margin-bottom: 0px;
	font-size: 32px;
    font-weight: bold;
}

#precioCurso {
	font-size: 22px;
	margin-top: 10px;
}

#img1 {
	width: 380px;
}

#comprarAhora {
	width: 250px;
}

#agregarCarrito {
	background-color: #737373;
	width : 250px;
	margin-bottom: 16px;
}

#agregarCarrito:hover{
	background-color: #898989;
}

.cont2 {
	margin-top: 50px;
}

.cont2 h2 {
	margin-bottom: 16px;
}

.descripcion {
	margin-bottom: 50px;
}

.descripcion p {
	font-size: 18px;
}

.contenidoCurso p {
	background-color: #D9D9D9;
    padding: 20px 50px;
    border-bottom: 2px solid #9E9E9E;
    font-weight: bold;
}

/*---------------------------------RESPONSIVE-------------------------------------*/
@media (max-width: 1200px) {
	.contenedor {
    	width: 90%;
	}
}

@media (max-width: 880px) {
	.cont1 {
	    flex-direction: column;
	}
	.infoCurso {
	    margin: 0px;
	    margin-top: 20px;
	}
}
