@charset "ISO-8859-1";

#tituloCompra{
	background-color:#1dbb06;
	padding: 30px;
	margin-left:300px;
	margin-right: 300px;
	margin-top: 150px;
	margin-bottom: 150px;
}

h2{
	color: white;
}

h4{
	color: white;
}

#botonesCurso {
	width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0px;
}