/* MAIN */
.cont-index-1 {
	height: 550px;
	width: 100%;
	margin: auto;
	background: no-repeat center center;
	background-size: cover;
}

.cont-index-1 h1 {
	width: 70%;
	color: white;
	font-size: 35px;
	font-family: "Montserrat";
}

.cont-index-1 p {
	width: 70%;
	padding-top: 20px;
	color: white;
	font-size: 25px;
	font-family: "Montserrat";
}

.titulo-subtitulo{
	margin-left: 150px;
	padding-top: 120px; 
	
}

.cont-index-2 {
	width: 90%;
	margin: auto;
	margin-top: 60px;
    margin-bottom: 60px;
}

.cont-index-2 h2 {
	text-align: center;
    padding: 60px 0px 40px 0px;
    font-size: 34px;
    font-weight: 500;
}

.cursos-mas-calificados {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cursos-mas-calificados img {
    width: 230px;
    height: 138.88px;
}

.cursos-mas-calificados a {
	color: #3c3b37;
}

.curso-calificado {
	border: 2px solid #c7c7c7;
	border-radius: 5px;
    padding: 10.5px;
    padding-bottom: 20px;
}

.precio-curso-cal {
    text-align: end;
    position: relative;
    bottom: 40px;
    left: 5px;
}

.precio-curso-cal p {
    display: inline;
    background: #fe4c13;
    padding: 5px 10px;
    color: white;
}

.descripcion-curso-cal {
	width: 220px;
}

.descripcion-curso-cal p {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 15px;
}

#compraCursoCalificado {
	display: flex;
    justify-content: flex-end;
}

.cont-index-3 {
	width: 60%;
	margin: auto;
	margin-bottom: 60px;
}

.cont-index-3 h2 {
	text-align: center;
	padding: 60px 0px 40px 0px;
	font-size: 34px;
	font-weight: 500;
}

.categorias-index {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.categorias-index img {
	width: 200px;
}

.cat-index {
	border: 2px solid #c7c7c7;
	border-radius: 5px;
	padding: 10.5px;
	padding-bottom: 20px;
}

.cat-index p {
	color: #3c3b37;
	padding-top: 10px;
	text-align: center;
}

.cont-index-4 {
	width: 100%;
	margin: auto;
	margin-bottom: 120px;
	display: flex;
	justify-content: center;
}

.cuadro-tarjeta {
	width: 60%;
	display: flex;
	border: 2px solid #c7c7c7;
	border-radius: 5px;
    padding: 30px 35px;
    margin-top: 60px;
    justify-content: space-between;
}

#img-tarjeta {
	width: 45%;
}

#img-tarjeta img {
	width: 100%;
	height: 300px;
}

#texto-tarjeta {
	width: 52%;
	padding-left: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#texto-tarjeta p {
	padding-bottom: 40px;
    font-size: 20px;
}

#btn-tarjeta {
	display: flex;
	justify-content: flex-end;
}

#btn-tarjeta a {
	padding: 5px 30px;
	background: #429FF4;
	color: white;
	border: 0;
	border-radius: 5px;
	font-size: 20px;
	font-weight: 600;
}

#btn-tarjeta a:hover {
	background: #61aff5;
	cursor: pointer;
}