.login-main {
	width: 30%;
	margin: auto;
	margin-top: 60px;
	margin-bottom: 150px;
}

h1 {
	font-weight: 500;
}

h1, p {
	margin-bottom: 40px;
}

input[type="email"], input[type="password"] {
    width: 100%;
    display: block;
    padding: 0.3em;
    box-sizing: border-box;
    margin-bottom: 30px;
}

input[type="submit"] {
    display: block;
    float: right;
    margin-top: 20px;
}

.error {
    color: crimson;
}

.error p {
    margin-bottom: 5px;
}
