.tituloMediosDePago {
	width: 60%;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 60px;
}

#cont-mediosPago {
	width: 40%;
	margin: auto;
	display: flex;
	flex-direction: column;
	margin-bottom: 100px;
}

.botonPago {
	margin-bottom: 40px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}

.botonPago:hover {
	color: #c3cbf4;
	border: 2px solid #37B9CB;
	border-radius: 15px;
}

.botonPago a {
	display: block;
	padding: 40px 100px;
	color: #2b2926;
	border-radius: 15px;
background: rgb(185,128,255);
background: linear-gradient(90deg, rgba(185,128,255,1) 0%, rgba(147,172,251,1) 50%, rgba(153,255,245,1) 100%);
}