
/* FILTRO */


#titulo {
display: flex;
}

#contenedorFiltros{
	margin-left: 400px;
}



/* 
	display: flex;
	flex-direction: row;
	justify-content: space;
	margin-top: 40px; */

#contenedorFiltros label {
	padding: 0px 20px;
}

#contenedorFiltros select {
	border-radius: 5px;
	padding: 2px;
}
