
/* SECCIÓN CURSOS */
.cont-seccion-cursos {
	width: 60%;
	margin: auto;
	margin-bottom: 100px;
}

#msj_error_curso {
	text-align : center;
	margin-top: 100px;
	margin-bottom: 200px;
	font-size: 20px;
	font-weight:bold; 
}

/* FILTRO */
#contenedorFiltros {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-top: 40px;
	margin-bottom: 20px;
	padding: 10px;
	padding-top: 20px;
}

#filtrarPor {
	padding: 10px 50px;
	color: white;
	font-size: 16px;
	font-weight: bold;
	border: 0;
	border-radius: 5px;
	background-color: #37B9CB;
}

.dropdown {
	display: inline-block;
	position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown:hover .dropdown-content {
	display: block;
	cursor: pointer;
}

.dropdown:hover #filtrarPor {
	background: #5dcede;
}

.dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px 10px;
    text-decoration: none;
}

.dropdown-content a:hover {
	background-color: #f2f2f2;
}

/* LISTA DE CURSOS */
.listaSeccionCursos{
	display: flex;
	flex-direction: column;
}

.cuadro-seccion-cursos {
	display: flex;
	border: 1px solid #c7c7c7;
	margin: 20px;
	padding: 20px;
}

.cotenido-1-curso {
	padding: 0px 20px;
}

.cotenido-1-curso p {
	color: #3c3b37;
}

.cotenido-2-curso {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.nombreCurso {
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 10px;
}

.precioCurso{
	font-weight: bold;
	text-align: right;
	font-size: 20px;
	color: #3c3b37;
}

/*------------------------------------------RESPONSIVE----------------------------------*/

@media (max-width: 1250px) {
	
	.cont-seccion-cursos {
		width: 80%;
	}
    
}
