/* SECCIÓN CURSOS */
.cont-seccion-cursos {
	width: 60%;
	margin: auto;
	margin-bottom: 100px;
}

/* FILTRO */
#contenedorFiltros {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 50px;
	margin-bottom: 20px;
	padding: 10px;
	padding-top: 20px;
}

#filtrarPor {
	padding: 10px 50px;
	color: white;
	font-size: 16px;
	font-weight: bold;
	border: 0;
	border-radius: 5px;
	background-color: #37B9CB;
}

.dropdown {
	display: inline-block;
	position: relative;
}

.dropdown-content {
	display: none;
	position: absolute;
	width: 100%;
	overflow: auto;
	background-color: white;
}

.dropdown:hover .dropdown-content {
	display: block;
	cursor: pointer;
}

.dropdown:hover #filtrarPor {
	background: #5dcede;
}

.dropdown-content a {
	display: block;
	color: #000000;
	padding: 5px 10px;
	text-decoration: none;
}

.dropdown-content a:hover {
	background-color: #f2f2f2;
}

/* AGREGAR CURSO (SOLO ADMIN */
#contAgregarCurso {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	margin-top: 40px;
	padding: 10px;
	padding-top: 20px;
}

#agregarCurso {
	padding: 10px 50px;
	color: white;
	font-size: 16px;
	font-weight: bold;
	border: 0;
	border-radius: 5px;
	background-color: #37B9CB;
}

/* LISTA DE CURSOS */
.listaSeccionCursos {
	display: flex;
	flex-direction: column;
}

.cuadro-seccion-cursos {
	border: 2px solid #c7c7c7;
	margin: 30px 0px;
}

.cuadro-seccion-cursos:hover{
	border:2px #37B9CB solid;
}

.cuadro-seccion-cursos-flex {
	display: flex;
	padding: 20px;
}

.cotenido-1-curso {
	padding: 0px 20px;
}

.cotenido-1-curso p {
	color: #3c3b37;
}

.cotenido-2-curso {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.nombreCurso {
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 10px;
}

.precioCurso {
	font-weight: bold;
	text-align: right;
	font-size: 20px;
	color: #3c3b37;
}

/* MENSAJES */
#sin_curso {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

#no-encontrado {
	font-size: 50px;
	background: -webkit-linear-gradient(left, #e2e17c, #c2240c);
	background: -o-linear-gradient(right, #e2e17c, #c2240c);
	background: -moz-linear-gradient(right, #e2e17c, #c2240c);
	background: linear-gradient(to right, #e2e17c, #c2240c);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	margin-bottom: 40px;
	margin-left: 350px;
	margin-top: 50px;
}

.msj-sincurso{
	border: 2px solid #bbbab5;
	padding-bottom: 50px;
	margin-bottom: 100px;
	margin-top: 60px;
	
}

.msj-sincurso:hover{
	border:2px #37B9CB solid;
}

/*------------------------------------------RESPONSIVE----------------------------------*/
@media ( max-width : 1250px) {
	.cont-seccion-cursos {
		width: 80%;
	}
}