/* 
Tipo de fuente:
Arial, Helvetica, sans-serif

Colores clave:

gris oscuro: #3c3b37

celeste: #37B9CB
*/

/* Generales */
main {
	width: 50%;
	margin: auto;
	margin-bottom: 100px;
}

/* Titulo */
#titulo {
	height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 80px 0px;
}

#titulo a {
	color: #3c3b37;
	font-size: 14px;
}

#titulo span {
	font-weight: bold;
	font-size: 14px;
}

/* Contenido principal  */
.contenedor2 {
	width: 30%;
	margin: auto;
    background-color: #FCFCB6;
    padding: 60px 100px;
}

#resumen {
	padding-bottom: 15px;
	border-bottom: 1px solid #636363;
}

#precioTotal {
	display: flex;
	justify-content: space-between;
	margin: 15px 0px;
	font-weight: 600;
	margin-bottom: 60px;
}

#pagarTarjeta {
	margin-bottom: 20px;
}

#comprar {
	width: 100%;
}

input[type="number"] {
    width: 100%;
    padding: 6px;
    display: block;
    box-sizing: border-box;
    border: 2px solid #cecece;
    border-radius: 5px;
    color: #404040;
    font-size: 16px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 30px;
}

input[type="number"]:focus {
    outline: none;
    border: 2px solid rgb(54, 129, 226);
}

.error {
    color: crimson;
    margin-top: 20px;
}
