main {
	margin: auto;
    margin-top: 100px;
    margin-bottom: 120px;
    width: 50%;
}

.contenedor2 {
	width: 55%;
	margin: auto;
	margin-top: 50px;
	padding: 40px 80px;
	background-color: #FCFCB6;
    border-radius: 8px;
}

#resumen {
	margin-bottom: 10px;
}

#precioTotal {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	font-weight: 600;
	margin-bottom: 30px;
}

#metodoPago {
	margin-bottom: 20px;
}

#comprar {
	width: 100%;
}

input[type="number"] {
    width: 100%;
    padding: 6px;
    display: block;
    box-sizing: border-box;
    border: 2px solid #cecece;
    border-radius: 5px;
    color: #404040;
    font-size: 16px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 30px;
}

input[type="number"]:focus {
    outline: none;
    border: 2px solid rgb(54, 129, 226);
}

.error {
    color: crimson;
    margin-top: 20px;
}

.contenedor2 .mercadopago-button {
	width: 100%;
	padding: 5px 30px;
	background: #737373;
	color: white;
	border: 0;
	border-radius: 5px;
	font-size: 20px;
	font-weight: 600;
	line-height: normal;
	margin-top: 16px;
}

.contenedor2 .mercadopago-button:hover {
	background: #898989;
	cursor: pointer;
}

/*------------------------------------------RESPONSIVE----------------------------------*/
@media (max-width: 1250px) {
	main {
    	width: 70%;
	}
}

@media (max-width: 880px) {
	main {
    	width: 90%;
	}
	.contenedor2 {
    	width: 70%;
	}
}

@media (max-width: 600px) {
	.contenedor2 {
    	width: 100%;
	}
}
