.cont-perfil {
	width: 60%;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 150px;
}

.contenedorEditar{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 60px;
}

.formEditar {
	width: 50%;
}

.fotoPerfil{
	width: 35%;
	display: flex;
	flex-flow: column;
	justify-content: space-between;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 6px;
    display: block;
    box-sizing: border-box;
    border: 2px solid #cecece;
    border-radius: 5px;
    color: #404040;
    font-size: 16px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 30px;
}

input[type="text"]:focus, input[type="password"]:focus {
    outline: none;
    border: 2px solid rgb(54, 129, 226);
}

#fotoPerfil {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	align-self: center;
}

.fotoPerfil h2 {
	text-align: center;
}

.imputFile {
	border: 1px solid #3c3b37;
	width: 100%;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin: 0 auto 0;
    min-height: 15px;
    overflow: hidden;
    padding: 10px 0px;
    position: relative;
    text-align: center;
}

.imputFile input[type="file"] {
	border: 10000px solid transparent;
    cursor: pointer;
	font-size: 10000px;
	margin: 0;
	opacity: 0;
	outline: 0 none;
	padding: 0;
	position: absolute;
	right: -1000px;
	top: -1000px;
}

.fotoPerfil input[type="submit"] {
	width: 100%;
	margin-top: 15px;
	border-radius: 0px;
}

.error {
    color: crimson;
    margin-top: 14px;
}

/*------------------------------------------RESPONSIVE----------------------------------*/
@media (max-width: 1250px) {
	.cont-perfil {
		width: 90%;
	}
}

@media (max-width: 880px) {
	.contenedorEditar {
    	flex-direction: column-reverse;
	}
	.formEditar {
	    width: 100%;
	}
	.fotoPerfil {
    	width: 100%;
    	margin-bottom: 60px;
    }
}
