@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
    font-family: 'Roboto', sans-serif;
}

/* SECCION PREGUNTAS */
.contenido-seccion-preguntas{
   width: 60%;
	margin: auto;
	margin-bottom: 100px;
	
	display: flex;
    flex-direction: column;
    justify-content: center;

}

/* Titulo */
#titulo {
    padding: 20px;
    margin: 20px;
    text-align: center;
    color: #3c3b37;
	font-size: 16px;
}

#titulo a {
	color: #3c3b37;
	font-size: 14px;
}
	
/* LISTA DE PREGUNTAS */
.cuadro-seccion-preguntas {
	padding: 30px;
    margin: 30px;
    text-align: center;


	border-bottom: 2px solid #c7c7c7;
	border-top: 2px solid #c7c7c7;
}

/* PREGUNTA */
#cuadro-pregunta{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	border-bottom: 2px solid #c7c7c7;
	border-top: 2px solid #c7c7c7;

}

/* RESPUESTAS */
.cuadro-respuestas{
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

#respuesta_1 {
    margin: 10px;
}

#respuesta_2 {
    margin: 10px;
}

#respuesta_3 {
    margin: 10px;
}


/*El resultado Total */
#cuadro-seccion-finalizado {
	padding: 30px;
    margin: 30px;
    text-align: center;
	border-bottom: 2px solid #c7c7c7;
	border-top: 2px solid #c7c7c7;
	color: #3c3b37;
	font-size: 14px;
}

#cuadro-puntaje-total {
	padding: 25px;
	border-bottom: 2px solid #c7c7c7;
	border-top: 2px solid #c7c7c7;
}

#total-examen {
	padding: 15px;
	border-bottom: 2px solid #c7c7c7;
	border-top: 2px solid #c7c7c7;
    color: #3c3b37;
	font-size: 14px;
}
#nota-examen {
	padding-bottom: 15px;
	font-size: 22px;
}
/*
p{
	padding: 6px;
	font-size: 20px;
}
*/	
	
	




/*------------------------------------------RESPONSIVE----------------------------------*/

@media (max-width: 1250px) {
	
	.cont-seccion-miscursos {
		width: 80%;
	}
    
}