
.tituloCurso {
	width: 80%;
	margin: auto;
	font-size: 20px;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 60px;
}

.contenedor-vistaCurso {
	width: 80%;
	margin: auto;
	margin-bottom: 150px;
	display: flex;
	justify-content: space-between;
}

#contVistaCurso-1 {
	width: 60%;
}

#contVistaCurso-1 h2 {
    margin-bottom: 10px;
    font-weight: 500;
}

#video-curso {
	margin-top: 20px;
}

#video-curso iframe {
	width: 100%;
	height: 400px;
}

#marcarUnidad {
	width: 100%;
	text-align: center;
	margin-top: 40px;
}

#marcarUnidad a {
	color: #2E2E2E;
	font-weight: bold;
	font-size: 14px;
	border: 1px solid #3c3b37;
	padding: 12px 40px;
}

#marcarUnidad p {
	display: inline;
	background-color: #1dbb06;
	color: white;
	font-weight: bold;
	font-size: 14px;
	padding: 12px 80px;
}

#contVistaCurso-2 {
	width: 33%;
}

.progreso {
	margin-bottom: 60px;
}

.progreso h2 {
	margin-bottom: 20px;
    font-weight: 500;
}

.progreso progress {
	width: 100%;
	height: 20px;
}

.contenido {
	border: 2px solid #737373;
}

.contenido h2 {
	padding: 20px;
	font-weight: 500;
	border-bottom: 2px solid #737373;
}

#contenido-curso {
	padding: 20px 0px;
	display: flex;
	flex-direction: column;
}

#contenido-curso a {
	color: #2E2E2E;
	margin: 8px 20px;
	font-size: 15px;
	font-weight: normal;
	line-height: 23px;
}

#icon_circulo {
	color: #474747;
	font-size: 14px;
	padding-right: 10px;
}

#icon_check {
	color: #1dbb06;
	font-size: 14px;
	padding-right: 10px;
}

.botones-vistaCurso {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
}

.botones-vistaCurso input {
	padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    color: white;
    border: 0;
    font-size: 20px;
    font-weight: 600;
}

input[type="submit"].btn-tipo-1 {
	background-color: #429FF4;
}

input[type="submit"].btn-tipo-2 {
	background-color: #737373;
}

input[type="submit"].btn-tipo-1:hover {
    background: #61aff5;
    cursor: pointer;
}

input[type="submit"].btn-tipo-2:hover {
    background: #898989;
    cursor: pointer;
}

/* MENSAJES */
.msj_progreso {
	width: 80%;
	margin: auto;
	margin-bottom: 20px;
	background-color: #fff0c9;
	padding: 20px;
	font-size: 16px;
	color: #444444;
	border: 2px solid #fed054;
	border-radius: 5px;
}
