@import url('https://fonts.googleapis.com/css?family=Roboto');
body{
    font-family: 'Roboto', sans-serif;
}

/* SECCION PREGUNTAS */
.contenido-seccion-preguntas{
   width: 60%;
	margin: auto;
	margin-bottom: 100px;
	
}

/* Titulo */
#titulo {
    margin: 100px 0px;
}

#titulo a {
	color: #3c3b37;
	font-size: 14px;
}
	
/* LISTA DE PREGUNTAS */
.cuadro-seccion-preguntas {
	display: flex;
	padding: 30px;
	margin: 20px;
	justify-content: space-between;
	border-bottom: 2px solid #c7c7c7;
	border-top: 2px solid #c7c7c7;
}

/* PREGUNTA */
#cuadro-pregunta{
	margin-top: 0px;
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
}

/* RESPUESTAS */
.cuadro-respuestas{
	display: flex;
	justify-content: center;
}


/*El resultado Total */
#cuadro-seccion-finalizado {
	margin-top: 60px;
	display: flex;
	justify-content: center;
}

#cuadro-finalizado {
	width: 300px;
	padding: 20px 40px;
	border: 1px solid #c7c7c7;
}

	
	
	
	
	




/*------------------------------------------RESPONSIVE----------------------------------*/

@media (max-width: 1250px) {
	
	.cont-seccion-miscursos {
		width: 80%;
	}
    
}